
*{
    padding: 0;
    margin: 0;
   overflow: hidden;
    box-sizing: border-box;
    font-family: 'Bigelow Rules', cursive;  
}


body{
   
    background-image: url(/images/image2.jpeg);
    background-size: cover;
    background-repeat: repeat-x;
    height: 100vh;
      display: flex;
      align-items: center;;
      justify-content: center;
      flex-direction: column;
      padding: 20px;
      animation: moveRight 6s timing-function delay iteration-count direction fill-mode;
    }
    .container{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .card-image {
        position: relative;
        background-color: red;
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background: url(/images/backgroundColour/bk1red.jpeg);
        

    }
    .card{
        position: relative;
        width: 270px;
        margin: 2em;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 180px 1fr auto;

    }
    .card-body,
    .card-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
    }
 .griff img{
    mix-blend-mode:normal;
    max-width: 100px;
    max-height: 200px;
   
   
}

.card{
    box-shadow: 0 15px 30px -10px #000;
    cursor: pointer;
}
.card:hover{
    box-shadow: 4px 4px 25px rgba(0,0,0,0.2);
}
.griff img:hover{
    max-width: 50%;
    max-height: 50%;
   
}
.card:nth-child(2) .card-image{
    background: url(/images/backgroundColour/bk2yellow.jpeg);
}
.card:nth-child(3) .card-image{
    background: url(/images/backgroundColour/bk3green.jpeg);
}
.card:nth-child(4) .card-image{
    background: url(/images/backgroundColour/bk4blue.jpeg);
}
.griff img:not(4){
    max-width: 70%;
    max-height: 60%;
}

.selector{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.85);
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s;
}
.card:hover .selector{
    opacity: 1;
}
.selector button{
    background-color: rgb(136, 29, 29);
    color:#fff;
    outline:none;
    border:2px solid currentColor;
    cursor: pointer;
    transform: translateY(100px);
    border-radius: 50px;
    padding: 12px 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.1em;
    font-weight: bolder;
    transition: opacity 0.3s;
}
.selector button:hover{
    opacity: 0.8;
}

.card:nth-child(2) .selector button{
    background-color: rgba(226, 177, 14, 0.82);
}
.card:nth-child(3) .selector button{
    background-color:rgba(4, 74, 4, 0.854);
}
.card:nth-child(4) .selector button{
    background-color: rgb(8, 156, 197);
}

.name{
    
    width: 200px;
    font-size: 40px;

}


.brstick{
   height: 300px;
   width: 350px;
   position:fixed;
   top: 45vh;
   left:5vw;
   z-index: 100;

}
.message{
    background: none;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.24)0px 3px 8px;
    border-radius: 5%;
}
#fireball{
    width:100px;
    height: 100px;
    mix-blend-mode: darken;
}


  #game-screen{
    align-content: center;
    display: flex;
   padding: 0px 0px;
    position: relative;
  /*  background-image: url('/images/gamepage.png');*/
    background-size: cover;
    animation: background 6s infinite linear reverse;
    width:100vw;
    height: 100vh;
    display: none;

  }
  .fireimg{
    width:100px;
    height: 100px;
    mix-blend-mode: darken;  
  }
   .score{
    margin: 20px;
    width: 50px;
    font-size: 20px;
   }
  
  



