

body {
    padding: 0;
    margin: 0;
   text-align: center;
   font-family: 'Bigelow Rules', cursive;  
}
  
 
  .logo{
    height: 300px;
    width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(2px 3px 5px grey);
  }
  #page1{
    height: calc(100vh - 60px);
  background-image: url(../images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
    display: flex;
    align-items: center;;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }
  #page1 button{
    font-family: 'Bigelow Rules', cursive;  
    width: 250px;
    height: 60px;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-top: 30px;
    font-size: 30px;
    cursor: pointer;
    background-color: rgb(62, 42, 24);
    color:white;
    
  }
  #page1 button:hover{
    transform: translateY(5px);
    transition: 0.3s;
  }

  h1,p{
    color: white;
    font-size: 40px;
  }

  #game-end{
    display:none;
  }
  